@use "../../res/beatsaber-font";

// support bs-icons in data-ta-id and ta-id attributes (for buttons)
[ta-id^="bs-icon-"],
[ta-id*=" bs-icon-"],
[data-ta-id^="bs-icon-"],
[data-ta-id*=" bs-icon-"] {
	@extend [class^="bs-icon-"];
}

@mixin fix-icon($name) {
	[ta-id~="#{$name}"]::before,
	[data-ta-id~="#{$name}"]::before {
		@extend .#{$name};
	}
}

@include fix-icon("bs-icon-bookmark");
@include fix-icon("bs-icon-bookmark-filled");

// remove icon margins
[class^="bs-icon-"]:before,
[class*=" bs-icon-"]:before {
	margin: 0 !important;
}

:root {
	--bs-icon-color: var(--spice-subtext);
}
