.popover.modal.bs-modal {
	width: 1000px;
	margin-left: -500px;
	max-height: 700px;
	margin-top: -350px;

	.popover-content {
		min-height: 600px;
	}

	.popover-content-scroll-area {
		overflow: hidden;
	}

	.bs-track-page {
		overflow: auto;
		height: 100%;
	}
}
