.bs-queue-button {
	position: relative;

	& > button {
		--button-size: 32px;
		width: unset;

		small {
			vertical-align: middle;
			padding: 0 4px;
		}

		&::before {
			vertical-align: middle;
		}
	}
}
