.bs-track-header {
	height: 230px;
	position: relative;

	.Card {
		background-color: #404040;
		width: 500px;
		height: 100px;
		margin: 120px auto 20px auto;

		& > div[draggable] {
			float: left;
			width: 100px;
		}

		&,
		&__image-hit-area {
			border-radius: 8px;
		}

		&__image,
		&__overlay {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}

		&__info-wrapper {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin-left: 120px;
		}
	}
}
